<ion-view view-title="Uygulamalarımız">

        <ion-nav-buttons side="right">

                <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
        
            </ion-nav-buttons>
    
        <ion-content>
    
            <div class="otherApssItems">
    
                <div class="konuAnlatimItemOtherApps item item-icon-left" ng-click="goToAppURL('kpssHepsi')">
                    <img class="otherApssLogos" ng-src="img/logo/hepsi.png">
                    <h3 style="margin: 10px">KPSS Tüm dersler - Tüm yıllar</h3>
                </div>
    
                <div class="konuAnlatimItemOtherApps item item-icon-left" ng-click="goToAppURL('turkceAppLink')">
                    <img class="otherApssLogos" ng-src="img/logo/turkce.png">
                    <h3 style="margin: 10px">KPSS Türkçe çıkmış Sorular</h3>
                </div>
    
                <div class="konuAnlatimItemOtherApps item item-icon-left" ng-click="goToAppURL('guncelAppLink')">
                    <img class="otherApssLogos" ng-src="img/logo/guncel.png">
                    <h3 style="margin: 10px">KPSS Güncel çıkmış Sorular</h3>
                </div>
    
                <div class="konuAnlatimItemOtherApps item item-icon-left" ng-click="goToAppURL('cografyaAppLink')">
                    <img class="otherApssLogos" ng-src="img/logo/cografya.png">
                    <h3 style="margin: 10px">KPSS Coğrafya çıkmış Sorular</h3>
                </div>
    
                <div class="konuAnlatimItemOtherApps item item-icon-left" ng-click="goToAppURL('matematikAppLink')">
                    <img class="otherApssLogos" ng-src="img/logo/matematik.png">
                    <h3 style="margin: 10px">KPSS Matematik çıkmış Sorular</h3>
                </div>
    
                <div class="konuAnlatimItemOtherApps item item-icon-left" ng-click="goToAppURL('anayasaApplink')">
                    <img class="otherApssLogos" ng-src="img/logo/anayasa.png">
                    <h3 style="margin: 10px">KPSS Anayasa çıkmış Sorular</h3>
                </div>
    
            </div>
    
        </ion-content>
    </ion-view>